fastapi
uvicorn[standard]
SQLAlchemy>=2.0
psycopg2-binary
python-dotenv
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-dateutil
nltk
regex
google-generativeai
